<% include header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="student_number" id="student_number" placeholder="Student Number" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Search</button>
        </form>
    </div>
</div>
</body>
</html>